<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>34999364908-qs07ap86trulh2pf9bs7ba0taddo9p3h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.34999364908-qs07ap86trulh2pf9bs7ba0taddo9p3h</string>
	<key>API_KEY</key>
	<string>AIzaSyC40yKQbTNLKz3GNHFJKKV3asMqKtA1sLc</string>
	<key>GCM_SENDER_ID</key>
	<string>34999364908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NomiePhan.Code-Grindr</string>
	<key>PROJECT_ID</key>
	<string>codegrindr-18e7a</string>
	<key>STORAGE_BUCKET</key>
	<string>codegrindr-18e7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34999364908:ios:f4d8ea5e1e709307891089</string>
	<key>DATABASE_URL</key>
	<string>https://codegrindr-18e7a.firebaseio.com</string>
</dict>
</plist>